<h1>Editing line iten</h1>

<%= render "form", line_iten: @line_iten %>

<br>

<div>
  <%= link_to "Show this line iten", @line_iten %> |
  <%= link_to "Back to line itens", line_itens_path %>
</div>
