<p style="color: green"><%= notice %></p>

<%= render @line_iten %>

<div>
  <%= link_to "Edit this line iten", edit_line_iten_path(@line_iten) %> |
  <%= link_to "Back to line itens", line_itens_path %>

</div>
